<div class="centerer">
    <div class="wrap">
      <a class="btn-0" href="#">Swipe</a>
    </div>
</div>
<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

    $btn-width: 250px !default;
    $btn-height: 80px !default;
    $btn-full: $btn-height+$btn-width !default;
    $btn-half: $btn-full/2 !default;
    $bg-color: #eeeeee !default;
    
    html {
      padding-top: 50px;
      font-family: 'Open Sans', Helvetica, arial, sans-serif;
      text-align: center;
      background-color: $bg-color;
    
      *,
      *:before,
      *:after {
        box-sizing: border-box;
        transition: 0.5s ease-in-out;
      }
    
      i,em,
      b,strong,
      span {
        transition: none;
      }
    }
    
    *:before,
    *:after {
      z-index: -1;
    }
    
    h1,
    h4 {
      font-family: 'Raleway', 'Open Sans', sans-serif;
      margin: 0;
      line-height: 1;
    }
    
    a {
      text-decoration: none;
      line-height: $btn-height;
      color: black;
    }
    
    .centerer {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 0 1rem
    }
    
    @media (min-width: 600px) {
      .wrap {
        width: 50%;
        float: left;
      }
    }
    
    [class^="btn-"] {
      position: relative;
      display: block;
      overflow: hidden;
      @include size(100%, $btn-height);
      max-width: $btn-width;
      margin: 1rem auto;
      text-transform: uppercase;
      border: 1px solid currentColor;
    }
    
    .btn-0 {
      $btn-color: random-color($max:200);
      $btn-color-dark: shade($btn-color, 40%);
      color: tint($btn-color);
    
      &:before {
        content: '';
        @include absolute(0,0,0,0);
        background-color: $btn-color-dark;
        transform: translateX(-100%);
      }
    
      &:hover {
        color: tint($btn-color, 75%);
    
        &:before {
          transform: translateX(0);
        }
      }
    }
    
    .btn-1 {
      $btn-color: random-color($max:200);
      $btn-color-dark: shade($btn-color, 40%);
      color: tint($btn-color);
      
      &:before {
        content: '';
        @include absolute(0,-50px,0,0);
        border-right: 50px solid transparent;
        border-bottom: $btn-height solid $btn-color-dark;
        transform: translateX(-100%);
      }
    
      &:hover {
        color: tint($btn-color, 75%);
    
        &:before {
          transform: translateX(0);
        }
      }
    }
    
    .btn-1-2 {
      $btn-color: random-color($max:200);
      $btn-color-dark: shade($btn-color, 40%);
      color: tint($btn-color);
      
      &:before,
      &:after {
        content: '';
        @include absolute(0,0,0,0);
        border-bottom: $btn-height solid $btn-color-dark;
      }
      
      &:before {
        right: -50px;
        border-right: 50px solid transparent;
        transform: translateX(-100%);
      }
      
      &:after {
        left: -50px;
        border-left: 50px solid transparent;
        transform: translateX(100%);
      }
    
      &:hover {
        color: tint($btn-color, 75%);
    
        &:before { transform: translateX(-40%); }
        &:after { transform: translateX(40%); }
      }
    }

</style>